.DS_Store
*.csv
*.class
*.txt
*.zip
*.dtd
!README.txt
ant-test/*.*
project2.iml
java
*.jar
node_modules/
package.json
project3/project3-indexer/.idea/
project3/project3-searcher/.idea/
project3/project3-searcher/README.txt
project4/.idea/
project4/build/
startbootstrap-sb-admin-2-gh-pages/
project5/project5.iml
items-0.xml
items-20.xml
